@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #c8cbd1;
  --light: #eee;
  --pink: #ec4899;
  --purle: #8b5cf6;
  --clr-neon: #ff14bd;
  --clr-bg: #31202b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  width: 100%;

  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    0deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 1%, 32%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 1%, 32%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 1%, 32%, 1) 100%
  );

  color: var(--light);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.btn-container {
  display: flex;
}

.styled-btn {
  margin: 15px 5px;
}

.styled-task {
  display: flex;
  justify-content: space-evenly;
}

.styled-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
}

.styled-title-task {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 10px;
}

.task-btns {
  margin: 5px;
}

.highlight-odd li:nth-child(odd) {
  background-color: rgb(178, 15, 247);
}

.highlight-even li:nth-child(even) {
  background-color: rgb(115, 0, 255);
}

@media (max-width: 600px) {
  .btn-container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 320px;
  }
}
